---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

.sidebar {
  float: right !important;
  clear: right !important;
  margin-top: 0 !important;
  padding-top: 0 !important;
}

.page {
  float: left !important;
  width: 75% !important;
  margin-top: 0 !important;
  padding-top: 0 !important;
}

.page__title {
  margin-top: 0 !important;
  padding-top: 0 !important;
}

body {
  background-color: #f4f3ef !important;
}

.page__content {
  background-color: #f4f3ef !important;
}

.masthead {
  background-color: #f4f3ef !important;
}

.nav__list a {
  font-size: 1.1em !important;
}

.nav__title {
  font-size: 1.2em !important;
}
